{% load static %}
{% block content %}
<div class="box box-danger">
	<form class="form-horizontal" id="addForm" method="post">
		{% csrf_token %}
        <input type="hidden" value="{{ attribute.id }}" name="id">
		<div class="box-body">
          <fieldset>
            <legend>
              <h4>属性信息</h4>
            </legend>

            <div class="form-group has-feedback">
                <label class="col-sm-2 control-label">品牌</label>
                <div class="col-sm-3">
                    <input class="form-control" name="brand" type="text" placeholder="例如：DELL" value="{{ attribute.brand }}" />
                </div>
                <label class="col-sm-2 control-label">型号</label>
                <div class="col-sm-3">
                    <input class="form-control" name="model" type="text" placeholder="例如：3670" value="{{ attribute.model }}" />
                </div>
            </div>

            <div class="form-group has-feedback">
                <label class="col-sm-2 control-label">参数</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="parameter" placeholder="例如：I7/4G/1T/独显" value="{{ attribute.parameter }}" />
                </div>
                <label class="col-sm-2 control-label">分类编码</label>
                <div class="col-sm-3">
                    <select class="form-control select2" name="type">
                        <option value="">--请选项分类--</option>
                        {% for item in typecodes %}
                        <option value="{{ item.id }}" {% if item.id == attribute.type.id %}selected{% endif %}>{{ item.simple_code }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group has-feedback">
                <label class="col-sm-2 control-label">网络</label>
                   <div class="col-sm-3">
                    <label class="control-label">
                    <input type="radio" class="minimal" name="is_network" value="True" {% if attribute.is_network is True %}checked{% endif %}>是
                   </label>
                    <label class="control-label">
                      <input type="radio" class="minimal" name="is_network" value="False" {% if attribute.is_network is False %}checked{% endif %}>否
                    </label>
                </div>
            </div>
          </fieldset>

		</div>
		<div class="box-footer ">
			<div class="row span7 text-center ">
              <button type="button" id="btnSave">保存</button>
              <button type="button" id="btnReturn">返回</button>
			</div>
		</div>

	</form>
</div>

{% endblock %}
<script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
<script src="{% static 'js/plugins/layer/layer.js' %}"></script>
{% block javascripts %}
<script>

        $("#btnSave").click(function () {
            var data = $("#addForm").serialize();
            $.ajax({
                type: $("#addForm").attr('method'),
                url: "{% url 'asset:attribute-detail' %}",
                data: data,
                cache: false,
                success: function (msg) {
                    if (msg.result) {
                        layer.alert('数据保存成功！', {icon: 1}, function (index) {
                            window.location.href = "{% url 'asset:attribute-list' %}";
                        });
                    } else {
                        layer.alert('数据保存失败', {icon: 5});
                        //$('errorMessage').html(msg.message)
                    }
                    return;
                }
            });
        });

        $("#btnReturn").click(function () {
            window.location.href = "{{ pre_page }}";
        });

</script>
{% endblock %}