{% load static %}
{% block content %}
<div class="box box-danger">
	<form class="form-horizontal" id="addForm" method="post">
		{% csrf_token %}
        <input type="hidden" name="id" value="{{ role.id }}">
		<div class="box-body">
          <fieldset>
            <legend>
                <h4>选择<font color="blue">{{ role.title }}</font>的用户</h4>
            </legend>
            <div class="form-group has-feedback">
                {% for department in departments %}
                <div>
                    <label>{{ department.simple_title }} {{ department.title }}</label>
                </div>

                <div>
                    {% for user in users %}
                        {% if department.id == user.department.id %}                        &nbsp;&nbsp;&nbsp;
                        <input type="checkbox" name="user_list" value="{{ user.id }}"
                               {% for role_user in role_users %}
                                    {% if role_user.id == user.id %}checked{% endif %}
                               {% endfor %}>
                        <label>{{ user.en_name }} {{ user.cn_name }}</label>
                        <br>
                        {% endif %}
                    {% endfor %}
                </div>
                <br>
                {% endfor %}
            </div>
          </fieldset>
		</div>
		<div class="box-footer ">
			<div class="row span7 text-center ">
                <button type="button" id="btnSave" name="btnSave">保存</button>
                <button type="button" id="btnReturn" name="btnReturn">返回</button>
            </div>
		</div>
	</form>
</div>
{% endblock %}

<script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
<script src="{% static 'js/plugins/layer/layer.js' %}"></script>
{% block javascripts %}
    <script>

        $("#btnSave").click(function () {
            var data = $("#addForm").serialize();
            $.ajax({
                type: $("#addForm").attr('method'),
                url: "{% url 'system:role-role2user' %}",
                data: data,
                cache: false,
                success: function (msg) {
                    if (msg.result) {
                        layer.alert('数据保存成功！', {icon: 1}, function (index) {
                            window.location.href = "{% url 'system:role-list' %}";
                        });
                    } else {
                        layer.alert('数据保存失败！', {icon: 5});
                        //$('errorMessage').html(msg.message)
                    }
                    return;
                }
            });
        });

        $("#btnReturn").click(function () {
            window.location.href = "{{ pre_page }}";
        });

    </script>

{% endblock %}