{% extends "main/base-left.html" %}
{% load static %}
{% block content %}
<!-- Main content -->
<section class="content">
    <div class="box-body">
        <table id="dtbList" class="display" cellspacing="0" width="100%">
            <thead>
                <tr valign="middle" bgcolor="Gainsboro">
                        <th></th>
                        <th>ACC编号</th>
                        <th>EDP编号</th>
                        <th>序列号</th>
                        <th>MAC地址</th>
                        <th>型号</th>
                        <th>购买日期</th>
                        <th>到保日期</th>
                        <th>库存部门</th>
                        <th>网络</th>
                        <th>状态</th>
                        <th>操作</th>
                </tr>
            </thead>
{% if not data_all %}
         <tbody>
                <tr>
                    <th></th>
                    <th>没有数据</th>
                </tr>
        </tbody>
{% else %}
        <tbody>
            {% for item in data_all %}
                {% if forloop.counter|divisibleby:'2' %}
                <tr bgcolor="WhiteSmoke">{% else %}<tr>{% endif %}
                    <th><input type="checkbox" name="checkList" value="{{ item.id }}"></th>
                    <th>{{ item.acc_num|default_if_none:'' }}</th>
                    <th>{{ item.edp_num }}</th>
                    <th>{{ item.sn }}</th>
                    <th>{{ item.mac|default_if_none:'' }}</th>
                    <th>{{ item.model.brand }} {{ item.model.model }}</th>
                    <th>{{ item.buy_date|default_if_none:'' }}</th>
                    <th>{{ item.warranty_date|default_if_none:'' }}</th>
                    <th>{{ item.department }}</th>
                    <th>{% if item.model.is_network %}是{% else %}否{% endif %}</th>
                    <th>{{ item.get_state_display }}</th>
                    <th>
                        {% if 'detail' in request.action_list %}
                            <button title='详情' onclick='doDetail("{{ item.id }}")'>详情</button>
                        {% else %}
                            <button title='详情' onclick='doDetail("{{ item.id }}")' disabled="disabled">详情</button>
                        {% endif %}
                    </th>
                </tr>
            {% endfor %}
        </tbody>

        </table>
    </div>
</section>
{% endif %}
{% include 'main/paginator.html' %}
{% endblock %}
<script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
<script src="{% static 'js/plugins/layer/layer.js' %}"></script>
{% block javascripts %}
<script>
    //跳转到新増
    $("#btnCreate").click(function () {
        window.location.href = "{% url 'asset:stock-create' %}";
    });

    //跳转到详情
     function doDetail(id) {
        window.location.href = ["{% url 'asset:stock-detail' %}" + '?id=' + id];
    }

	//批量删除
	$("#btnDelete").click(function() {
		if ($("input[name='checkList']:checked").length == 0){
			layer.msg("请选择要删除的记录");
			return ;
		}

		var arrId= new Array();
		$("input[name='checkList']:checked").each(function(){
			//alert($(this).val());
			arrId.push($(this).val());
		});

		sId=arrId.join(',');

		layer.alert('确定删除吗？', {
			title:'提示'
			,icon: 3 //0:感叹号 1：对号 2：差号 3：问号 4：小锁 5：哭脸 6：笑脸
			,time: 0 //不自动关闭
			,btn: ['YES', 'NO']
			,yes: function(index){
			 	layer.close(index);
			 	$.ajax({
					type: "POST",
					url : "{% url 'asset:stock-delete' %}",
					data : {"id":sId, csrfmiddlewaretoken: '{{ csrf_token }}'},
					cache: false,
					success : function(msg) {
						if (msg.result){
							layer.alert("操作成功",{icon:1});
							window.location.href = "{% url 'asset:stock-list' %}";
						}else{
							//alert(msg.message);
							window.location.href = "{% url 'asset:stock-list' %}";
						}
						return ;
					}
				});
			}
		});
	});

</script>
{% endblock %}