{% extends "main/base-left.html" %}
{% load static %}
{% block content %}
<!-- Main content -->
        <form class="form-inline" id="queryForm">
            <ul>
                <li class="form-group searchArea margin-r-5 margin-top-5">
                  <label>部门：</label>
                  <select class="inputText select2" name="department" id="department">
                    <option value="">-- ALL --</option>
                    {% for department in departments %}
                    <option value='{{ department.id }}'>{{ department.simple_title }}</option>
                    {% endfor %}
                  </select>
                </li>
                <li class="form-group searchArea margin-r-5 margin-top-5">
                  <label>　　姓名：</label>
                  <input class="form-group" name="username" type="text" value="" placeholder="例如：zhangsan"/>
                </li>
                <li class="form-group searchArea margin-r-5 margin-top-5">
                  <label>　　IP：</label>
                  <input class="form-group" name="ip" type="text" value="" />
                </li>
                <li class="form-group searchArea margin-r-5 margin-top-5">
                    　　<button type="submit" id="btnSearch">查找</button>
                </li>
                <li class="form-group searchArea margin-r-5 margin-top-5">
                    　<button type="button" id="btnReset">重置</button>
                </li>
              </ul>
            </form>

<section class="content">
    <div class="box-body">
        <table id="dtbList" class="display" cellspacing="0" width="100%">
            <thead>
                <tr valign="middle" bgcolor="Gainsboro">
                        <th></th>
                        <th>ACC编号</th>
                        <th>EDP编号</th>
                        <th>设备名</th>
                        <th>IP地址</th>
                        <th>登陆名</th>
                        <th>登陆密码</th>
                        <th>使用人</th>
                        <th>责任人</th>
                        <th>部门</th>
                        <th>操作</th>
                </tr>
            </thead>
{% if not data_all %}
         <tbody>
                <tr>
                    <th></th>
                    <th>没有数据</th>
                </tr>
        </tbody>
{% else %}
        <tbody>
            {% for item in data_all %}
                {% if forloop.counter|divisibleby:'2' %}
                <tr bgcolor="WhiteSmoke">{% else %}<tr>{% endif %}
                    <th><input type="checkbox" name="checkList" value="{{ item.id }}"></th>
                    <th>{{ item.stock.acc_num }}</th>
                    <th>{{ item.stock.edp_num }}</th>
                    <th>{{ item.device_name }}</th>
                    <th>{{ item.ip|default_if_none:'' }}</th>
                    <th>{{ item.login_name|default_if_none:'' }}</th>
                    <th>{{ item.login_pw|default_if_none:'' }}</th>
                    <th>{{ item.asset_user|default_if_none:'' }}</th>
                    <th>{{ item.asset_user.department.asset_owner|default_if_none:'' }}</th>
                    <th>{{ item.asset_user.department|default_if_none:'' }}</th>
                    <th>
                        {% if 'detail' in request.action_list %}
                            <button title='详情' onclick='doDetail("{{ item.id }}")'>详情</button>
                        {% else %}
                            <button title='详情' onclick='doDetail("{{ item.id }}")' disabled="disabled">详情</button>
                        {% endif %}
                    </th>
                </tr>
            {% endfor %}
        </tbody>

        </table>
    </div>
</section>
{% endif %}
{% include 'main/paginator.html' %}
{% endblock %}
<script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
<script src="{% static 'js/plugins/layer/layer.js' %}"></script>
{% block javascripts %}
<script>
    //跳转到新増
    $("#btnCreate").click(function () {
        window.location.href = "{% url 'asset:networkdevice-create' %}";
    });

    //跳转到详情
     function doDetail(id) {
        window.location.href = ["{% url 'asset:networkdevice-detail' %}" + '?id=' + id];
    }

    function doRelation(id) {
        window.location.href = ["{% url 'asset:networkdevice-relation' %}" + '?id=' + id];
    }

	//批量删除
	$("#btnDelete").click(function() {
		if ($("input[name='checkList']:checked").length == 0){
			layer.msg("请选择要删除的记录");
			return ;
		}

		var arrId= new Array();
		$("input[name='checkList']:checked").each(function(){
			//alert($(this).val());
			arrId.push($(this).val());
		});

		sId=arrId.join(',');

		layer.alert('确定删除吗？', {
			title:'提示'
			,icon: 3 //0:感叹号 1：对号 2：差号 3：问号 4：小锁 5：哭脸 6：笑脸
			,time: 0 //不自动关闭
			,btn: ['YES', 'NO']
			,yes: function(index){
			 	layer.close(index);
			 	$.ajax({
					type: "POST",
					url : "{% url 'asset:networkdevice-delete' %}",
					data : {"id":sId, csrfmiddlewaretoken: '{{ csrf_token }}'},
					cache: false,
					success : function(msg) {
						if (msg.result){
							layer.alert("操作成功",{icon:1});
							window.location.href = "{% url 'asset:networkdevice-list' %}";
						}else{
							//alert(msg.message);
							window.location.href = "{% url 'asset:networkdevice-list' %}";
						}
						return ;
					}
				});
			}
		});
	});

        $("#btnReset").click(function () {
	        window.location.href = "{% url 'asset:networkdevice-list' %}";
        })
</script>
{% endblock %}