{% load static %}
{% block content %}
<div class="box box-danger">
	<form class="form-horizontal" id="addForm" method="post">
		{% csrf_token %}
		<input type="hidden" name='id' value="{{ department.id }}" />
		<div class="box-body">
          <fieldset>
            <legend>
              <h4>分类编码</h4>
            </legend>

            <div class="form-group has-feedback">
                <label class="col-sm-2 control-label">简写分类</label>
                <div class="col-sm-3">
                    <input class="form-control" name="simple_code" type="text" placeholder="例如：PR" value="" />
                </div>
                <label class="col-sm-2 control-label">英文分类</label>
                <div class="col-sm-3">
                    <input class="form-control" name="en_code" type="text" placeholder="例如：Printer" value="" />
                </div>
            </div>

            <div class="form-group has-feedback">
                <label class="col-sm-2 control-label">中文分类</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="cn_code" placeholder="例如：打印机" value="" />
                </div>
            </div>
          </fieldset>

		</div>
		<div class="box-footer ">
			<div class="row span7 text-center ">
              <button type="button" id="btnSave">保存</button>
              <button type="button" id="btnReturn">返回</button>
			</div>
		</div>

	</form>
</div>

{% endblock %}
<script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
<script src="{% static 'js/plugins/layer/layer.js' %}"></script>
{% block javascripts %}
<script>

        $("#btnSave").click(function () {
            var data = $("#addForm").serialize();
            $.ajax({
                type: $("#addForm").attr('method'),
                url: "{% url 'asset:typecode-create' %}",
                data: data,
                cache: false,
                success: function (msg) {
                    if (msg.result) {
                        layer.alert('数据保存成功！', {icon: 1}, function (index) {
                            window.location.href = "{% url 'asset:typecode-list' %}";
                        });
                    } else {
                        layer.alert('数据保存失败', {icon: 5});
                        //$('errorMessage').html(msg.message)
                    }
                    return;
                }
            });
        });

        $("#btnReturn").click(function () {
            window.location.href = "{{ pre_page }}";
        });

</script>
{% endblock %}